<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{::title}, ~{})}">
    <title>Detalhes</title>
</head>
<body>
<main>
<div class="container">
    <h1 class="my-4">Detalhes da Consulta</h1>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Data de Emissão</th>
                <th>Médico</th>
                <th>Paciente</th>
                <th>Descrição</th>
                <th>Valor</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="consulta : ${consultas}" class="consulta-row" th:data-detalhe="${consulta.detalhe}">
                <td th:text="${consulta.id}"></td>
                <td th:text="${#temporals.format(consulta.data, 'dd/MMM/yyyy HH:mm')}"></td>
                <td th:text="${consulta.getMedico().getNome()}"></td>
                <td th:text="${consulta.getPaciente().getNome()}"></td>
                <td th:text="${consulta.descricao}"></td>
                <td th:text="${consulta.valor}"></td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="mb-3">
        <a href="/consulta/listar" class="btn btn-primary">Voltar</a>
    </div>
</div>
</main>
</body>
</html>
