<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{::title}, ~{})}">
    <title>Lista Medicos</title>
</head>
<body>
<main>
<div class="container">
    <h1 class="my-4">Lista de Médicos</h1>

    <table class="table">
        <thead>
        <tr>
            <th>CRM</th>
            <th>Nome</th>
            <th colspan="2">Ação</th>
            <div class="text-center">
                <a th:href="@{/medico/cadastrar}" class="btn btn-success">Cadastrar Novo Médico</a>
            </div>
        </tr>
        </thead>
        <tbody>
        <tr th:each="medico : ${medicos}">
            <td th:text="${medico.crm}"></td>
            <td th:text="${medico.nome}"></td>
            <td><a th:href="@{/medico/editar(id=${medico.id})}" class="btn btn-primary">Editar</a></td>
            <td><a th:href="@{/consulta/listaCrm(id=${medico.id})}" class="btn btn-primary">Consultas</a></td>
            <td><a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"
                   th:href="@{/medico/remover/{id}(id=${medico.id})}" class="btn btn-danger">Excluir</a></td>
        </tr>
        </tbody>
    </table>
</div>
</main>
</body>
</html>
