<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{::title}, ~{})}">
    <title>Pagina inicial </title>
</head>
<body>
<main>
<div class="container mt-4">
    <h1 class="my-4">Página Inicial</h1>
    <p>Bem-vindo ao meu aplicativo de consultas médicas!</p>
</div>
<div class="container mt-4" style="max-width: 50%;">
<canvas id="consultasChart" width="10" height="7.5"></canvas>
</div>
    <table style="border-collapse: collapse; margin: 0 auto;">
        <tr>
            <td style="border: 1px solid black; padding: 8px;">Total de Médicos</td>
            <td style="border: 1px solid black; padding: 8px;"><span th:text="${totalMedicos}"></span></td>
            <td style="border: 1px solid black; padding: 8px;">Total de Consultas</td>
            <td style="border: 1px solid black; padding: 8px;"><span th:text="${totalConsultas}"></span></td>
            <td style="border: 1px solid black; padding: 8px;">Total de Pacientes</td>
            <td style="border: 1px solid black; padding: 8px;"><span th:text="${totalPacientes}"></span></td>
            <td style="border: 1px solid black; padding: 8px;">Valor Total de Consultas</td>
            <td style="border: 1px solid black; padding: 8px;"><span th:text="${valorTotalConsultas}"></span></td>
        </tr>
    </table>
</main>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</html>