<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{::title}, ~{})}">
    <title>Cadastrar Paciente</title>
</head>
<body>
<main>
<div class="container">
    <h1 class="my-4">Cadastro de Pacientes</h1>

    <form th:action="${paciente.id == null} ? @{/paciente/salvar} : @{/paciente/update}" th:object="${paciente}" method="post">

        <input type="hidden" th:field="*{id}" required class="form-control">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" th:field="*{nome}" required class="form-control">
        </div>

        <div class="mb-3">
            <label for="cpf" class="form-label">CPF:</label>
            <input type="text" th:field="*{cpf}" required class="form-control">
        </div>

        <div class="mb-3">
            <label for="telefone" class="form-label">Telefone:</label>
            <input type="text" th:field="*{telefone}" required class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <div class="text-center">
            <a th:href="@{/paciente/listar}" class="btn btn-secondary">Voltar para a Lista</a>
        </div>
    </form>
</div>
</main>
</body>
</html>
