<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{::title}, ~{})}">
    <title>Cadastrar Paciente</title>
</head>

<body>
<main>
<div class="container">
    <h1 class="my-4">Cadastro de Pacientes</h1>

    <form th:action="${paciente.id == null} ? @{/paciente/salvar} : @{/paciente/update}" th:object="${paciente}" method="post">

        <input type="hidden" th:field="*{id}" required class="form-control">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" th:field="*{nome}" required class="form-control">
            <label class="invalid-feedback" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></label>
        </div>

        <div class="mb-3">
            <label for="telefone" class="form-label">Telefone:</label>
            <input onkeypress="$(this).mask('(00)0 0000-00009')" type="text" id="telefone" th:field="*{telefone}" class="form-control telefone" required/>
            <label class="invalid-feedback" th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"></label>
        </div>

        <div class="mb-3">
            <label for="cpf" class="form-label">CPF:</label>
            <input onkeypress="$(this).mask('000.000.000-00');" type="text" id="cpf" th:field="*{cpf}" class="form-control cpf" required/>
            <label class="invalid-feedback" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></label>
        </div>

        <button type="submit" class="btn btn-primary" onclick="enviarFormulario()">Cadastrar</button>
        <div class="text-center">
            <a th:href="@{/paciente/listar}" class="btn btn-secondary">Voltar para a Lista</a>
        </div>
        <div th:each="erro : ${#fields.detailedErrors()}">
            <span th:text="${erro.fieldName}+' '+${erro.message}"></span>
        </div>
    </form>
</div>
</main>

</body>

</html>
