<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{::title}, ~{})}">
    <title>Lista Paciente</title>
</head>
<body>
<main>
<div class="container">
    <h1 class="my-4">Lista de Pacientes</h1>

    <table class="table">
        <thead>
        <tr>
            <th>CPF</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th colspan="2">Ação</th>
            <div class="text-center">
                <a th:href="@{/paciente/cadastrar}" class="btn btn-success">Cadastrar Novo Paciente</a>
            </div>
        </tr>
        </thead>
        <tbody>
        <tr th:each="paciente : ${pacientes}">
            <td th:text="${paciente.cpf}"></td>
            <td th:text="${paciente.nome}"></td>
            <td th:text="${paciente.telefone}"></td>
            <td><a th:href="@{/paciente/editar(id=${paciente.id})}" class="btn btn-primary">Editar</a></td>
            <td><a th:href="@{/consulta/listaCpf(id=${paciente.id})}" class="btn btn-primary">Consultas</a></td>
            <td><a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"
                   th:href="@{/paciente/remover/{id}(id=${paciente.id})}" class="btn btn-danger">Excluir</a></td>
        </tr>
        </tbody>
    </table>
</div>
</main>>
</body>
</html>
